<h2 class="header"><%= phrack('site.index.header') %></h2>

<div><%= phrack('site.index.intro') %></div>

<div><%= t('site.index.footer') %></div>

<div><%= phrack('test', scope: 'models.errors', editor: :ckeditor, id: '0', :ckeditor => {:toolbar => 'simple'}) %></div>

<div><%= phrack 'test', scope: :site, editor: :ckeditor, id: '1' %></div>

<div><%= distance_of_time_in_words(Time.now, Time.now) %></div>